<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8c96f52a-1d50-4d5a-a5f5-27f950cf4765" Publisher="CN=Matthew" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ImageShareScratch</DisplayName>
    <PublisherDisplayName>Matthew</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ImageShareScratch.App">
      <VisualElements DisplayName="ImageShareScratch-v2" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ImageShareScratch" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>